src/main/webapp/WEB-INF/wsdl/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://nl.hu.iac/berichten/request"
	elementFormDefault="qualified"
	targetNamespace="http://nl.hu.iac/berichten/request">
	
	<xs:element name="paymentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="adress" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name ="bedrag" type="xs:long"/>
			</xs:sequence>
		</xs:complexType>

	</xs:element>
</xs:schema>